<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ActiveDatabaseConnection" value="Compass"/>
  </appSettings>
  <connectionStrings>
    <add name="TestDB" connectionString="Data Source=.;Initial Catalog=TestDB;User ID=testuser;Password=testpassword"/>
    <add name="Compass" connectionString="Data Source=TESTVM242\TESTVM,1434;Initial Catalog=Compass;Integrated Security=true"/>
    <add name="DbRepository" connectionString="Data Source=.; Initial Catalog=DatabaseSchemarepository;User ID=dsr_user;password=password"/>
  </connectionStrings>
</configuration>